.grafis {
  width: 100%;
  height: 100%;
  background: white;
}

.grafis-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 42px;
}

.info-cards {
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  gap: 2rem;
}

.info-card {
  background: #ededed;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-card .thumbnail img {
  width: 100%;
  border-radius: 8px;
}

@media screen and (min-width: 1024px) {
  .first-card {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .info-cards {
    grid-template-columns: repeat(4, minmax(300px, 1fr)) !important;
  }
}

@media screen and (min-width: 768px) {
  .info-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}